/* Utility */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

/* Global CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #f8f9fc;
  color: #FFF;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}
