/* Utility */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

/* Global CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #f8f9fc;
  color: #FFF;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

table {
  width: 100%;
  border: 1px solid #e3e6f0;
}

th {  
  border: 1px 1px 2px 1px solid #e3e6f0;
  border-bottom: 2px solid #e3e6f0;
}

tr {
  padding-right: 30px;
    padding: 12px;
}

td {
  padding: 12px;
  border: 1px solid #e3e6f0;
}