option {
  min-inline-size: 24px;
  min-block-size: max(24px, 1lh);
  font-weight: -internal-auto-base(normal, inherit);
  padding-block-end: -internal-auto-base(1px, 0);
  display: -internal-auto-base(block, flex);
  align-items: center;
  padding-inline: -internal-auto-base(2px, 0.5em);
}

main {
  height: auto;
  background-color: #f8f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-page {

  
  h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.2;
  color: #5a5c69 !important;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
}

/* .description-page p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
} */

.table {
  background-color: #fff;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: separate !important;
  border-spacing: 0;
  color: #858796;
  th {
    padding: 12px 30px 12px 12px;
  }
  td {
    border: 1px solid #e3e6f0;
    padding: 0.75rem;
    vertical-align: top;
  }
  tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
  }
}


.amount-records {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  input {
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
}
}

/* .amount-records input {
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
} */

.datatables-example {
  color: #4e73df !important;
  font-weight: 700 !important;
  border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f6f7fa;
  border-bottom: 1px solid #e3e6f0;
}


.btn-page-table {
  display: flex;
  justify-content: space-between;
}

.pagination {
  ul {
    display: flex;

    li {
      list-style: none;

      a {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #4e73df;
        background-color: #fff;
        border: 1px solid #dddfeb;
      }
    }
  }
}


.number-page {
  height: calc(1.5em + 0.5rem + 2px);
  padding-top: 0.25rem;
  padding-right: 8px;
  padding-bottom: 0.25rem;
  padding-left: 0.3rem;
  font-size: 0.875rem;
  border-radius: 5px;
}

.previous {
  border-radius: 6px 0 0 6px;
}

.next {
  border-radius: 0 6px 6px 0
}

.filter-records input {
    margin-left: .5em;
    display: inline-block;
    width: auto;
    /* border-color: #e3e6f0; */
    /* border-radius: 0.5px; */
}