.main-content {
  width: 100vw;
}

.description-page {
  color: #5a5c69;
}

.description-page h1 {
  margin-bottom: 8px;
  font-size: 27px;
  font-weight: 500;
  color: #5a5c69;
}

.description-page p {
  color: #858796;
}

.description-table {
  text-decoration: none;
  color: #224abe;
}

.datatables-example {
  color: #4e73df;
  font-weight: 700;
  font: 16px;
  border-radius: 5px 5px 0 0;
  padding: 0.75rem 1.25rem;
  margin-top: 22px;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

.number-results {
  padding-top: 0.25rem;
  padding-right: 8px;
  padding-bottom: 0.25rem;
  padding-left: 0.3rem;
  font-size: 0.875rem;
  border-radius: 5px;
}

.results-per-page {
  justify-content: space-between;
}

.content {
  padding: 0 14px 25px 14px;
  background-color: #eeeef2;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  color: #858796;
  flex-grow: 1;
}

.table-container {
  background-color: #fff;
  padding: 20px;
}

table {
  width: 100%;
  height: 60vh;
  background-color: #fff;
  border-collapse: collapse;
}

/* add arrow */

.col-title {
  display: flex;
  justify-content: space-between;
}

.col-title label {
  display: flex;
  gap: 0.8px;
  opacity: .3;
}

thead tr th {
  border-top: 2px solid #e3e6f0 !important;
  border-bottom: 3px solid #e3e6f0 !important;
  text-align: start;
  font-weight: 700;
}

th,
td {
  font-size: 16px;
  border: 1px solid #e3e6f0;
  border-collapse: collapse;
}

td {
  padding: 12px;
}

th {
  padding: 12px 7px 12px 12px;
}

.last-line {
  border-bottom: 2px solid #e3e6f0 !important;
}

/* .table-page */
.pagination {
  display: flex;
  list-style: none;
}

.pagination a {
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  color: #4e73df;
  background-color: #fff;
  border: 1px solid #dddfeb;
}

.pagination li a:hover {
  transition: 0.3s;
  background-color: #eaecf4;
  border-color: #dddfeb;
}

.table-pages {
  margin: 20px 0 15px 0;
  display: flex;
  justify-content: space-between;
}

.previous {
  border-radius: 6px 0 0 6px;
}

.next {
  border-radius: 0 6px 6px 0;
}
