main {
  height: 70vh;
  width: 85vw;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.table {
  background-color: #fff;
  font-size: 1rem;
  text-align: left;
  width: 100%;
  margin: 0 15px;
  background-color: gold;
} 

th {
  padding: 8px;
}

