.main-contant {
  flex: 1;
}

.topBar {
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  height: 56px;
  font-size: 13.6px;
  background-color: #fff;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)
}

.search input{
  padding: 6px 12px;
  margin-left: 12px;
  width: 366px;
  height: 26px;
  border-radius: 8px;
  background-color: #f8f9fc;
}

.search input:focus {
  box-shadow: 0 0 0 3.2px rgba(78, 115, 223, .25);
  border-right: none;
  outline: none;
}

.search .btn-search {
  height: 40px;
  width: 38px;
  background-color: var(--text-primary);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -10px;
}

.btn-search i {
  color: #fff;
}

.user-information {
  gap: 16px;
  align-items: center;
}

.division {
  border-right: 1px solid #e3e6f0;  
  height: 37px;
}

.icons-notifications i{
  color: #d1d3e2;
  font-size: 16px;
  padding: 0 12px;
}

.user {
  align-items: center;
  padding: 0 12px;
}

.user-information a {
  position: relative;
}

.user-information a:first-child {
  margin-right: 6px;
}

.notification-alert {
  position: absolute;
  bottom: 6.5px;
  right: 4px;
  padding: 3px 5px;
  font-weight: 700;
  font-size: 12px;
  border-radius: 5.5px;
  line-height: 1;
  transform: scale(.7);
  background-color: #e74a3b;
  color: #FFF;
}

.user span {
  color: #858796;
  margin-right: 8px;
  font-size: 12.8px;
}

.user img {
  height: 32px;
  width: 32px;
}