.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

:root{
  --text-white: #fff;
  --text-gray: #858796;
  --text-primary: #4e73df;
  --text-dark: #5a5c69;
  --text-white-opacity: rgba(255, 255, 255, .4);
}
